h2.comments-title {
    text-align: center
}

.hidden {
    display: none !important;
}

.comment-item-container {
    margin-bottom: 5px;
    padding: 10px 10px 5px 10px;
    border-radius: 5px;
    border: solid rgba(255, 255, 255, 0.2);
    border-width: 1px;
    display: flex;
    flex-direction: column;
}

.theme-light .comment-item-container {
    border: solid rgba(0, 0, 0, 0.08);
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0.02);
}

.comment-item {  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    transition: background-color 200ms ease-in-out;
    padding-left: 10px;
    padding-right: 10px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.comment-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    font-size: .8rem;
    flex: 1;
    margin: 0 10px;
}

.comment-author {
    font-weight: 500;
    font-size: .85rem;
}

.comment-datetime {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--text-muted);
    font-size: .75rem;
}

.comment-minimize {
    text-align: center;
    border: solid rgba(255, 255, 255, 0.2);
    border-width: 1px;
    
    /* padding: 5px; */
}

.theme-light .comment-minimize {
    border: solid rgba(0, 0, 0, 0.08);
    border-width: 1px;
}

.comment-line {
    font-size: .8rem;
}

.comment-item-date {
    font-size: .75rem;
    color: var(--text-muted);
}

.comment-item-time {
    font-size: .75rem;
    color: var(--text-muted);
    margin-left: 4px;
}

.comment-item-text {
    font-size: 1rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

.comment-children {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.comment-child-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-left: 10px;
    padding-top: 5px;
    gap: 2px;
}

.comment-child {  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    transition: background-color 200ms ease-in-out;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.comment-child-separator {
    border-top: solid rgba(255,255,255, 0.2);
    border-width: 1px;
    margin-bottom:5px;
}

.theme-light .comment-child-separator {
    border-top: solid rgba(0,0,0, 0.06);
    border-width: 1px;
}

.comment-child-date {
    font-size: .75rem;
    color: var(--text-muted);
}

.comment-child-time {
    font-size: .75rem;
    color: var(--text-muted);
    margin-left: 4px;
}

.comment-child-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    font-size: .75rem;
    flex: 1;
    margin: 0 10px;
}

.comment-child-author {
    font-weight: 500;
    font-size: .8rem;
}

.comment-child-text {
    font-size: .95rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

.callout[data-callout="comment"] {
    --callout-icon: lucide-message-square;
    border-radius: 15px;
}

.theme-dark .callout[data-callout="comment"] {
    --callout-color: 255, 255, 255;
    border: 3px solid rgba(0, 0, 0, 0.5);
}

.theme-light .callout[data-callout="comment"] {
    --callout-color: 0,0,0;
    border: 2px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.01);
}


.theme-dark .comment-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.theme-light .comment-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.theme-dark .comment-child:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.theme-light .comment-child:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

@media print {
    /* Your elements to hide */
    .callout[data-callout="comment"] {
        display: none !important;
    }
}